# Python virtual environments
renv/
.env

# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# FastAPI specific
fastapi-backend/__pycache__/
fastapi-backend/*.log             # Log files
fastapi-backend/*.sqlite3         # SQLite database files (if used for local testing)

# PostgreSQL data
postgres/data/

# Docker
docker-compose.override.yml
docker-compose.yml
*.dockerfile
*.env

# Kubernetes configuration (local-specific or secret files)
kubernetes/secrets.yaml           # Sensitive Kubernetes secrets

# macOS system files
.DS_Store

# Logs and temporary files
*.log
*.bak
*.swp
*.tmp

# IDE configuration files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Test coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Byte-compiled files and Jupyter notebook checkpoints
.ipynb_checkpoints/

# AWS credentials and config (if you use them in the project directory)
.aws/

# Pytest cache
.pytest_cache/

# Node modules
node_modules/

# Dependencies
package-lock.json
yarn.lock

# Build output
dist/
build/
*.zip

# OS-specific files
Thumbs.db

# Bootstrap specific
bootstrap/