doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Vikash Prithiani
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0#personal-name
                    .subheading.mb-5
                        span#personal-address
                        a#personal-email(href='#')
                    p.lead.mb-5#personal-bio
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/vikash-prithiani-0a770431/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/vikashPirth')
                            i.fab.fa-github

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    #experience-container

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education
                    #education-container

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            img(src='https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54')
                        li.list-inline-item
                            img(src='https://img.shields.io/badge/Kubernetes-326CE5?style=for-the-badge&logo=kubernetes&logoColor=white')
                        li.list-inline-item
                            img(src='https://img.shields.io/badge/Docker-2496ED?style=for-the-badge&logo=docker&logoColor=white')
                        li.list-inline-item
                            img(src='https://img.shields.io/badge/Continuous_Integration-007EC6?style=for-the-badge&logo=circleci&logoColor=white')
                        li.list-inline-item
                            img(src='https://img.shields.io/badge/REST_API-FF6C37?style=for-the-badge&logo=postman&logoColor=white')
                        li.list-inline-item
                            img(src='https://img.shields.io/badge/Scrum-6DB33F?style=for-the-badge&logo=scrumalliance&logoColor=white')
                        li.list-inline-item
                            img(src='https://img.shields.io/badge/Android_Development-3DDC84?style=for-the-badge&logo=android&logoColor=white')
                        li.list-inline-item
                            img(src='https://img.shields.io/badge/GitLab-FC6D26?style=for-the-badge&logo=gitlab&logoColor=white')
                        li.list-inline-item
                            img(src='https://img.shields.io/badge/SQLAlchemy-00BFFF?style=for-the-badge&logo=databricks&logoColor=white')
                        li.list-inline-item
                            img(src='https://img.shields.io/badge/Alembic-000000?style=for-the-badge&logo=git&logoColor=white')
                        li.list-inline-item
                            img(src='https://img.shields.io/badge/FastAPI-005571?style=for-the-badge&logo=fastapi&logoColor=white')
                        li.list-inline-item
                            img(src='https://img.shields.io/badge/MAKE-2C3E50?style=for-the-badge&logo=gnu&logoColor=white')
                        li.list-inline-item
                            img(src='https://img.shields.io/badge/Poetry-60A5FA?style=for-the-badge&logo=python&logoColor=white')
                        li.list-inline-item
                            img(src='https://img.shields.io/badge/PostgreSQL-336791?style=for-the-badge&logo=postgresql&logoColor=white')
                        li.list-inline-item
                            img(src='https://img.shields.io/badge/Swagger-85EA2D?style=for-the-badge&logo=swagger&logoColor=black')

            hr.m-0
        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')